<hibernate-configuration>
	<session-factory>
		<propertyname="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:data/test</property>
		<property name="hibernate.connection.username">bd2</property>
		<property name="hibernate.connection.password">bd2</property>
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="show_sql">true</property>

		<!--Mappings-->

		<mapping resource="mappings/catalogo.hbm.xml"/>
		<mapping resource="mappings/categoria.hbm.xml"/>
		<mapping resource="mappings/categoriainvitado.hbm.xml"/>
		<mapping resource="mappings/categoriavip.hbm.xml"/>
		<mapping resource="mappings/contenido.hbm.xml"/>
		<mapping resource="mappings/episodio.hbm.xml"/>
		<mapping resource="mappings/gestordecontenidos.hbm.xml"/>
		<mapping resource="mappings/pelicula.hbm.xml"/>
		<mapping resource="mappings/reproduccion.hbm.xml"/>
		<mapping resource="mappings/serie.hbm.xml"/>
		<mapping resource="mappings/sesion.hbm.xml"/>
		<mapping resource="mappings/sitio.hbm.xml"/>
		<mapping resource="mappings/suscripcion.hbm.xml"/>
		<mapping resource="mappings/temporada.hbm.xml"/>
		<mapping resource="mappings/usuario.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>
